cycler==0.10.0
joblib==0.14.1
kiwisolver==1.1.0
matplotlib==3.2.0
neo4j==1.7.6
neobolt==1.7.16
neotime==1.7.4
nltk==3.4.5
numpy==1.18.1
pandas==1.0.1
pip==21.1
prettytable==0.7.2
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
setuptools==45.3.0
singledispatch==3.4.0.3
six==1.14.0
